@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #252525;
    min-height: 200vh;
}

.main-footer {
    background-color: #0b0c10; 
    color: #7a828a;            
    text-align: center;        
    padding: 20px 0;           
    font-family: 'Sansation', sans-serif; 
    font-size: 14px;           
    border-top: 2px solid #001134; 
    margin-top: 1330px;
}

.img-container img {
    width: 100%;       
    height: auto;
    display: block;
    border-radius: 15px; 
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
}

.picture-home{
    height: 65vh;
    background-image: url(../media/back-ground.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding-top: 50px;
}

.picture-home h1{
    font-size: 80px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.9);
    transform: translateY(150px);
    font-family: 'Montserrat';
}

.title{
    color: white;
    padding-left: 13rem;
    font-size: 40px;
    font-family: 'Playball';
}

.présentation{
    color: white;
    padding-left: 13rem;
    font-size: 30px;
}
