body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #252525;
    min-height: 200vh;
}

.img-container img {
    width: 100%;       
    height: auto;
    display: block;
    border-radius: 15px; 
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
}

.picture-home{
    color: white;
    text-align: center;
    height: 80vh;
    background-image: url(/media/back-ground.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-home h1{
    font-size: 80px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.9);
}